html, body {
    height: 100%;
}

body {
    margin: 0; 
    padding: 0;
    background: url(galaxy.jpg);
    background-size: cover;
}

.gazpromneft {
    padding: 100px;
    width: 300px;
    position: relative;
    z-index: 1;
}

.dmitry {
    position: absolute;
    top: 170px;
    left: 170px;
    animation: orbita 10s linear infinite;
    z-index: 0;
}

@keyframes orbita {
    0% {width: 70px;}
    25% {z-index: 0;}
    25% {left:400px; top:130px; z-index: 2;}
    50% {width: 120px;}
    74% {z-index: 2;}
    75% {top:300px; left:0; z-index: 0;}
    100% {width: 70px;}
}